---
 - name: Create a login user
   user:
      name: simar
      password: 'simar'
      groups:
       - root
      state: present
      shell: /bin/bash       # Defaults to /bin/bash
      system: no             # Defaults to no
      createhome: yes        # Defaults to yes
      home: /home/simar  # Defaults to /home/<username>
